<div class="virse">
  <div class="dots">
    <div class="container">
      <!--Navbar control button for small devices only-->
      <div class="d-flex justify-content-end">
        <nav class="d-lg-none navbar navbar-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-reorder nav-btn"></span>
          </button>
      </nav>
      </div>
      <!--collapse navbar display lg-none-->
      
      <div class="pos-f-t d-block d-lg-none bg-light">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="nav-bg  p-4">
            <ul class="nav ml-auto mr-auto flex-column">
              <li class="nav-item">
                <a class="text-white nav-link" [routerLink]="['/user']" routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item">
                <a class="text-white nav-link " [routerLink]="['/about']" routerLinkActive="active">About</a>
              </li>
              <li class="nav-item">
                <a class="text-white nav-link" [routerLink]="['/invest']" routerLinkActive="active">For Investors</a>
              </li>
              <li class="nav-item">
                <a class="text-white nav-link" [routerLink]="['/partner']" routerLinkActive="active">For partners</a>
              </li>
              <li class="nav-item">
                <a class="text-white nav-link" [routerLink]="['/faq']" routerLinkActive="active">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="text-white nav-link mr-auto" [routerLink]="['/rules']" routerLinkActive="active">Rules</a>
              </li>
              <li class="nav-item">
              <a class="text-white nav-link mr-auto" [routerLink]="['/support']" routerLinkActive="active">Support</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
        
      <div class="row pad px-0 border-line">
        <div class="col-10 col-sm-8 col-lg-4 col-xl-3 ml-auto mr-auto pl-md-5 pl-lg-0 p-0">
          <a [routerLink]="['/user']" routerLinkActive="active">
            <img src="../assets/images/logo.png"  class="pl-5 marg pl-lg-0 mb-4">
            <span class="text pl-5 pl-sm-1  logo-text">Secfx<span class="chain">Chain</span></span>
          </a>
        </div>
        <div class="col-6 mr-auto ml-auto col-md-10 col-lg-8 col-xl-7 px-0">
          <ul class="nav  flex-column flex-md-row p-0">
            <li class="nav-item">
                <a href="#" target="__blank" class="nav-link">
                    <span><i class="fa fa-facebook chain"></i></span>
                    <span class="ml-2">Facebook</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="#" target="__blank" class="nav-link">
                    <span><i class="fa fa-instagram chain"></i></span>
                    <span class="ml-2">Instagram</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span><i class="fa fa-phone chain"></i></span>
                    <span class="ml-2">Phone</span>
                    <p class="">+14422355192</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span><i class="fa fa-envelope-o chain"></i></span>
                    <span class="ml-2">Email</span>
                    <p class="">admin@bitfxchain.com</p>
                </a>
            </li>
          </ul>
        </div> 
        <div class="col-10 col-sm-7 col-lg-3 col-xl-2  mr-auto ml-auto pl-5 pl-sm-4 pl-md-5 px-lg-0 pt-xl-4">
          <a  [routerLink]="['/login']" routerLinkActive="active" >
            <button class="color text-white ml-md-5 ml-lg-0 px-3">SIGN IN</button>
          </a>
          <a [routerLink]="['/register']" routerLinkActive="active">
            <button class="color text-white ml-md-5 ml-lg-0 px-3">SIGN UP</button>
          </a>
        </div>
      </div>
    </div>

    <div class="container">
    <!--Nav box display for medium devices and above-->
      <div class="row">
        <div class="col-12 py-3 d-none d-md-block p-0 p-lg-3">
          <ul class="nav p-0">
            <li class="nav-item px-2 px-lg-4">
                <a class="nav-link color" [routerLink]="['/user']" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item px-2 px-lg-4">
                <a class="nav-link color" [routerLink]="['/about']" routerLinkActive="active">About</a>
            </li>
            <li class="nav-item px-2 px-lg-4 px-xl-5">
                <a class="nav-link color" [routerLink]="['/invest']" routerLinkActive="active">For Investors</a>
            </li>
            <li class="nav-item px-2 px-lg-4 px-xl-5">
                <a class="nav-link color" [routerLink]="['/partner']" routerLinkActive="active">For partners</a>
            </li>
            <li class="nav-item px-2 px-xl-4">
                <a class="nav-link color" [routerLink]="['/faq']" routerLinkActive="active">FAQ</a>
            </li>
            <li class="nav-item px-2 px-lg-4">
                <a class="nav-link color" [routerLink]="['/rules']" routerLinkActive="active">Rules</a>
            </li>
            <li class="nav-item px-2 px-lg-4">
                <a class="nav-link color" [routerLink]="['/support']" routerLinkActive="active">Support</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="display">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6  logo-pad px-0">
            <!--LOGO AREA-->
            <img src="../../assets/images/logo_light.png" class="w-100">
            <img src="../../assets/images/logo-el-right.png" class="decrease-one logo-pos-one"> 
            <img src="../../assets/images/logo-el-left.png" class="decrease-one logo-pos-two">
            <img src="../../assets/images/logo-el4.png" class="decrease-one one logo-pos-three">
            <img src="../../assets/images/logo-el5.png" class="decrease-two logo-pos-four">
            <img src="../../assets/images/logo-el3.png" class="decrease-three logo-pos-five">
            <img src="../../assets/images/logo-el2.png" class="decrease-four logo-pos-six">
            <img src="../../assets/images/logo-el1.png" class="decrease-one dex-one logo-pos-sev">
            <img src="../../assets/images/logo-center.png" class="decrease-five logo-pos-eig">
          </div>
        
          <div class="col-12 col-lg-6 pt-3">
            <h2 class="py-4 font_one">Earn from 50% to 70% every day!</h2>
            <div class="media">
              <img class="turn mr-2 mt-5 mb-2" src="../../assets/images/btc-big.png"> 
                <button type="button" class="text-left trans border-left btn btn-outline text-white">
                  Bitcoin is a new generation <br>
                  of decentralized digital <br>
                  currency, created and <br>
                  operating only on the <br>
                  Internet <br>
                </button>          
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="container px-sm-0">
  <div class="row border-line-top py-4">
    <div class="col-12 mb-4">
      <h3 class="font_two pb-2">FAQ</h3>
      <p class="ultra-light">
          The answers to the most important questions on the project are collected in this section.
          To make it easier for you to find what you are looking for, we arranged them in the appropriate categories.
      </p>
    </div>
  </div>
  <div class="row px-4 px-lg-0">
    <div class="col-12 col-lg-3 py-0 card-v">
      <div class="tab active">
       <div class="row">
           <button class="tablinks text-white border-0 col-12 col-sm-6 col-lg-12 pt-4 pb-1 px-0 text-left px-4 card-w" onclick="openTab(event, 'reg')" id="defaultOpen" >
              <h5>Registration</h5>
              <p class="ultra-light"><span class="fa fa-angle-right"></span> How to register in the project?</p>
              <p class="ultra-light"><span class="fa fa-angle-right"></span> Who is allowed to register and participate in this investment project?</p>
              <p class="ultra-light"><span class="fa fa-angle-right"></span> Is the investor obligated to provide reliable information about himself?</p>
           </button>
          <button class="tablinks text-white border-0 col-12 col-sm-6 col-lg-12 pt-4 pb-1 px-0 text-left px-4 card-x" onclick="openTab(event, 'auth')">
                  <h5>Authorization</h5>
                  <p class="ultra-light"><span class="fa fa-angle-right"></span> How do I access my personal cabinet?</p>
                  <p class="ultra-light"><span class="fa fa-angle-right"></span> From which device can I access my personal cabinet?</p>
                  <p class="ultra-light"><span class="fa fa-angle-right"></span> What should I do if I forgot my password for logging in to my account?</p>
          </button>
           <button class="tablinks text-white border-0 col-12 col-sm-6 col-lg-12 py-2 px-4 card-y text-left"  onclick="openTab(event, 'finance')">
              <h5>Finance</h5>
              <p class="ultra-light"><span class="fa fa-angle-right"></span> How quickly after registration does the investor need to make a deposit?</p>
              <p class="ultra-light"><span class="fa fa-angle-right"></span> When do accrual to my deposit start?</p>
              <p class="ultra-light"><span class="fa fa-angle-right"></span> Is there a fee for withdrawing profits?</p>
           </button>
           <button class="tablinks text-white border-0 col-12 col-sm-6 col-lg-12 card-z px-4 pt-2 pb-4 text-left" onclick="openTab(event, 'partners')">
              <h5>For Partners</h5>
              <p class="ultra-light"><span class="fa fa-angle-right"></span> How to become a member of the referral program?</p>
              <p class="ultra-light"><span class="fa fa-angle-right"></span> Do I have to have an active deposit to profit from the referral program?</p>
              <p class="ultra-light"><span class="fa fa-angle-right"></span> How many levels are there in the referral system?</p>
           </button>
         </div>
       </div>
    </div>
    <div class="col-12 col-lg-8 mt-5 pb-3 pb-lg-0 mt-lg-0">
      <div class="tabcontent" id="reg" >
        <div class="line pad-but">
          <div class="row">
              <div class="col-12">
                  <h4>Questions regarding registration</h4>
                  <p class="ultra-light">All you need to know about the registration procedure in this project.</p>
              </div>  
          </div>
          <div class="row border-line border-line-top">
            <div class="col-12 py-5">
              <ol>
                <li class="gold-b">How to register in the project?</li>
                <p class="ultra-light">
                  In order to register in this project, you need to click on the "Registration" button at the top of 
                  the page and fill in the required fields of the questionnaire.
                </p>
                <li class="gold-b">Who is allowed to register and participate in this investment project?</li>
                <p class="ultra-light">
                  Any adult citizen. The country of residence does not matter.
                 </p>
                 <li class="gold-b">Is the investor obligated to provide reliable information about himself?</li>
                 <p class="ultra-light">
                  No, you can remain anonymous and decide what information to provide.
                </p>
              </ol>
             </div>
          </div>
        </div>  
      </div>

      <div class="tabcontent" id="auth" >
        <div class="line pad-but">
          <div class="row">
              <div class="col-12">
                  <h4>Questions regarding authorization</h4>
                  <p class="ultra-light">Questions about authorization in the project</p>
              </div>  
          </div>
          <div class="row border-line border-line-top">
           <div class="col-12 py-5">
            <ol>
              <li class="gold-b">How do I access my personal cabinet?</li>
              <p class="ultra-light">
              To log in, you must use the login and password that you have chosen and indicated during the registration.
              </p>
              <li class="gold-b"> From which device can I access my personal cabinet?</li>
              <p class="ultra-light">
              From any: phone, tablet, computer.
              </p>
              <li class="gold-b"> What should I do if I forgot my password for logging in to my account?</li>
              <p class="ultra-light">
              You can use the form to recover passwords or contact customer support.
              </p>
            </ol>
           </div>
          </div>
        </div>  
      </div>

      <div class="tabcontent" id="finance" >
          <div class="line pad-but">
              <div class="row">
                  <div class="col-12">
                      <h4>Questions regarding finance</h4>
                      <p class="ultra-light">All you need to know about making deposits and withdrawing.</p>
                  </div>  
              </div>
              <div class="row border-line border-line-top">
               <div class="col-12 py-5">
                  <ol>
                      <li class="gold-b"> How quickly after registration does the investor need to make a deposit?</li>
                      <p class="ultra-light">
                          At any convenient time. After registration, you can carefully study the conditions of the service 
                          plans and only after that make the deposit.
                      </p>
                      <li class="gold-b"> When do accrual to my deposit start?</li>
                      <p class="ultra-light">
                          All accruals are carried out once a day. You can follow them in your personal cabinet.
                      </p>
                      <li class="gold-b"> Is there a fee for withdrawing profits?</li>
                      <p class="ultra-light">
                          No, all payments are instant and conducted without commissions. The minimum withdrawal 
                          amount is 0.0005 BTC.
                      </p>
                  </ol>
                </div>
              </div>
          </div>  
      </div>

      <div class="tabcontent" id="partners" >
        <div class="line pad-but">
          <div class="row">
              <div class="col-12">
                  <h4>Questions regarding partners</h4>
                  <p class="ultra-light">Information about the referral program of the investment project.</p>
              </div>  
          </div>
          <div class="row border-line border-line-top">
           <div class="col-12 py-5">
            <ol>
              <li class="gold-b"> How to become a member of the referral program?</li>
              <p class="ultra-light">
                  It is enough to be a registered participant in the project. Your referral link is stored in your
                  personal cabinet.
              </p>
              <li class="gold-b"> Do I have to have an active deposit to profit from the referral program?</li>
              <p class="ultra-light">
                  No, you must not.
              </p>
              <li class="gold-b">  How many levels are there in the referral system?</li>
              <p class="ultra-light">
                  There are two levels in the referral system of our project, this will allow you to make profit from
                  sub-referrals.
              </p>
            </ol>
           </div>
          </div>
        </div>  
      </div>

    </div>       
  </div>
</div>