<!--The content below is only a placeholder and can be replaced.-->
    <router-outlet></router-outlet>


    <!--Footer Section-->
    <div class="unity mt-0">
      <div class="dots">
        <div class="container py-5">
          <div class="row py-3">
            <div class="col-10 col-sm-6 mr-auto ml-auto col-md-4">
              <a href="#">
                <img src="../assets/images/logo.png" class="mb-3 mb-md-4 bit">
                <span class="text pl-1 logo-text">Secfx<span class="chain">Chain</span></span>
              </a>
              <p class="ultra-light d-none d-md-block mt-4 ml-5 ml-md-0">Copyright Secfxchain.com 2017</p>
            </div>
            <div class="col-8 col-sm-6 mt-md-2 mr-auto ml-auto col-md-3">
              <h5>PAYMENT SYSTEM</h5>
              <img src="../assets/images/bitcoin.png">
            </div>
            <!--Display for large devices only-->
            <div class="col-6 d-none d-md-block mt-4 mt-md-2 ml-auto mr-auto col-md-2">
              <h5>FOR CLIENT</h5>
              <ul class="pl-3">
                <li class="li py-2">
                  <a [routerLink]="['/user']" routerLinkActive="active" class="link">Home</a>
                </li>
                <li  class="li py-2">
                  <a [routerLink]="['/about']" routerLinkActive="active" class="link">About</a>
                </li>
                <li  class="li py-2">
                  <a [routerLink]="['/invest']" routerLinkActive="active" class="link">For Investors</a>
                </li>
                <li  class="li py-2">
                  <a [routerLink]="['/partner']" routerLinkActive="active" class="link">For Partners</a>
                </li>
                <li  class="li py-2">
                  <a [routerLink]="['/faq']" routerLinkActive="active" class="link">FAQ</a>
                </li>
                <li  class="li py-2">
                  <a [routerLink]="['/rules']" routerLinkActive="active" class="link">Rules</a>
                </li>
                <li  class="li py-2">
                  <a [routerLink]="['/support']" routerLinkActive="active" class="link">Support</a>
                </li>
              </ul>
            </div>
  
            <!--Display for small and medium devices only-->
            <div class="col-12 d-md-none mt-4 mt-md-2 ml-auto mr-auto col-md-2">
              <h5 class="textt">FOR CLIENT</h5>
              <ul class="nav pl-3">
                <li class="li py-2 shift">
                  <a href="#" class="link shift-a">Home</a>
                </li>
                <li  class="li py-2 shift">
                  <a href="#" class="link">About</a>
                </li>
                <li  class="li py-2 shift">
                  <a href="#" class="link">For Investors</a>
                </li>
                <li  class="li py-2 shift">
                  <a href="#" class="link">For Partners</a>
                </li>
                <li  class="li py-2 shift shift-c">
                  <a href="#" class="link ">FAQ</a>
                </li>
                <li  class="li py-2 shift">
                  <a href="#" class="link shift-o">Rules</a>
                </li>
                <li  class="li py-2">
                  <a href="#" class="link">Support</a>
                </li>
              </ul>
            </div>
            
            <div class="col-10 text-center text-md-left  mr-auto ml-auto col-md-3 py-2">
              <h5>CONTACTS</h5>
              <h6 class="text-white">Address</h6>
              <p class="ultra-light">
                U.S.A
                1071 West 15th Street, Chicago, IL
              </p>
              <h5>
                <a href="#" class="link">
                  Facebook
                </a>
              </h5>
              <h5>
                <a href="#" class="link">
                    Instagram
                </a>
              </h5>
              <h6 class="text-white">Telephone</h6>
              <p>+14422355192</p>
              <h6 class="text-white">E-Mail:</h6>
              <p>admin@secfxchain.com</p>
            </div>
            <div class="col-10 shift-b col-sm-6 ml-auto mr-auto">
              <p class="ultra-light  d-md-none">Copyright Secfxchain.com 2018</p>
            </div>
          </div>
        </div>
      </div>
    </div>
